<div class="row">
    <div class="col-sm-3">
        <button class="btn btn-primary" ng-click="menu()" style="width: 100%">Menú</button>
    </div>
    <div class="col-sm-3">
        <button class="btn btn-success" ng-click="orden()" style="width: 100%">Orden</button>
    </div>
    <div class="col-sm-3">
        <button class="btn" ng-click="cuentaOrden()" style="width: 100%; background-color: rgb(246, 255, 75); color: black">$ Cuenta</button>
    </div>
    <div class="col-sm-3">
        <button class="btn btn-warning" ng-click="bebidas()" style="width: 100%">Bebidas</button>
    </div>
</div>