<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap-Sandstone.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/angular.min.js"></script>
    <title>
        Ingredientes Cocina
    </title>
</head>

<body ng-app="IngredienteModule">
    <div style="background-image: url('/Imagenes/wood2.jpg') ">
        <div ng-include="'header.html'"></div>
        <form class="container" ng-controller="CtrlIngrediente as up" name="up.upload_form">

            <h1>Ingredientes Cocina</h1>
            <!-- <input ng-model="test"> {{test}} -->


            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Imagen</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input required class="form-control" ng-model="cocina.nombre">
                        </td>
                        <td>
                            <input class="form-control" ng-model="cocina.descripcion">
                        </td>
                        <td>
                            <div>
                                <input type="file" ngf-select ng-model="up.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"
                                />
                                <img style="width:50px;" ng-show="!!up.file" ngf-thumbnail="up.file || 'Imagenes/subir.png'" />
                                <i ng-show="up.upload_form.file.$error.required">*required</i>
                                <br>
                                <i ng-show="up.upload_form.file.$error.maxSize">File too large {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                                <!--  Multiple files
                                <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
                                Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div> -->
                                <!-- <button type="submit" ng-click="up.submit()">submit</button> -->
                                <p>{{up.progress}}</p>
                            </div>
                        </td>
                        <td>
                            <button ng-show="ShowAgregar" class="btn btn-primary" ng-disabled="up.upload_form.$invalid" ng-click="addContact()">Agregar Ingrediente</button>
                            <button ng-show="ShowActualizar" class="btn btn-info" ng-click="update()">Actualizar</button>
                        </td>
                        <td>
                            <button ng-show="ShowLimpiar" class="btn btn-info" ng-click="clear()">Limpiar</button>
                        </td>
                    </tr>
                    <tr class="table-primary" style="color: rgb(67, 67, 77)" ng-repeat="cocina in cocinaList">
                        <td style="font-weight: bolder">{{cocina.nombre}}</td>
                        <td>{{cocina.descripcion}}</td>
                        <td>
                            <img class="logo" src="http://localhost:4201/{{cocina.imagen}}" style="width:100px;" alt="Imagen">
                        </td>
                        <td>
                            <button class="btn btn-danger" ng-click="remove(cocina.id)">Eliminar</button>
                        </td>
                        <td>
                            <button class="btn btn-warning" ng-click="edit(cocina.id)">Editar</button>
                        </td>
                    </tr>

                </tbody>
            </table>

        </form>
        <div ng-include="'footer.html'"></div>
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
    <script src="controllers/CatCocinaIngreController.js"></script>
    <script type="text/javascript" src="../node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="../node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>

</body>

</html>