<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap-Sandstone.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/angular.min.js"></script>
    <title>
        Ingredientes Plato
    </title>
</head>

<body ng-app="IngreCocinaModule">
    <div style="background-image: url('/Imagenes/wood2.jpg')" ng-controller='AppAccesos'>
        <div ng-include="'header.html'" ></div>
        <form class="container" ng-controller="CtrlIngreCocina as up" name="up.upload_form">

            <h1>Ingredientes Plato</h1>
            <!-- <input ng-model="test"> {{test}} -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-1">
                        <label style="color: blanchedalmond">Ingrediente: </label>

                    </div>
                    <div class="col-sm-5">
                        <select class="form-control" ng-model="ingreSeleccionado" ng-options="x.nombre+'-'+x.descripcion  for x in names">
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <button ng-show="ShowAgregar" class="btn btn-primary" ng-click="addContact()">Agregar Ingrediente</button>
                    </div>
                </div>
            </div>

            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Imagen</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                        <tr class="table-primary" style="color: rgb(67, 67, 77)" ng-repeat="ingre in IngreCocinaList">
                        <td style="font-weight: bolder">{{ingre.nombre}}</td>
                        <td>{{ingre.descripcion}}</td>
                        <td>
                            <img class="logo" src="http://localhost:4201/{{ingre.imagen}}" style="width:100px;" alt="Imagen">
                        </td>
                        <td>
                            <button class="btn btn-danger" ng-click="remove(ingre.id)">Quitar</button>
                        </td>
                    </tr>

                </tbody>
            </table>

        </form>
        <div ng-include="'footer.html'"></div>
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
    <script src="controllers/CocinaPlatoIngre.js"></script>
    <script src="controllers/Accesos.js"></script>
    <script type="text/javascript" src="../node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="../node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>

</body>

</html>