<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/bootstrap-Sandstone.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/angular.min.js"></script>

    <title>
        Cuenta
    </title>
</head>

<body ng-app="ResumenOrdenModule">
    <div style="background-image: url('/Imagenes/wood2.jpg') " ng-controller='AppAccesos'>
        <div ng-include="'header.html'"></div>
        <form class="container" ng-controller="CtrlResumenOrden as up" name="up.upload_form">
            <h1>Cuenta </h1>
            <!-- <input ng-model="test"> {{test}} -->
            <div class="row">
                <div class="col-sm-9">
                </div>
                <div class="col-sm-3">
                    <span class="badge badge-pill badge-info" style="font-size: 25px">Mesa: {{NumeroMesa}}</span>
                    <!-- <label style="font-size: 25px">Mesa: {{NumeroMesa}} </label> -->
                </div>
            </div>
            <div class="alert alert-danger alert-dismissible" ng-show="alerta.visible">
                <!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> -->
                <strong>{{alerta.mensaje}}</strong>
            </div>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Pagado</th>
                        <th scope="col">Eliminado</th>
                        <th scope="col">Pendiente</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio / unidad</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-primary" style="color: rgb(67, 67, 77)" ng-repeat="cocina in cocinaList">
                        <!-- <td>{{cocina.cantidad}}</td> -->
                        <td>{{cocina.cantidad}}</td>
                        <td>
                            <b>{{cocina.cantidadPagada}}</b>
                        </td>
                        <td>
                            <b>{{cocina.cantidadEliminada}}</b>
                        </td>
                        <td>
                            <b>{{cocina.cantidad - cocina.cantidadPagada - cocina.cantidadEliminada}}</b>
                        </td>
                        <td style="font-weight: bolder">{{cocina.nombre}}</td>
                        <td style="font-weight: bolder">{{cocina.categoria}}</td>
                        <td>{{cocina.precio}}</td>
                        <td>
                            {{cocina.subtotal | currency: 'Q. '}}
                        </td>
                        <td>
                            <div class="input-group number-spinner">
                                <span class="input-group-btn data-up">
                                    <button class="btn btn-default btn-danger" data-dir="up" ng-click="decrementar10(cocina)">
                                        -10
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                                <label>&nbsp&nbsp&nbsp</label>
                                <span class="input-group-btn data-dwn">
                                    <button class="btn btn-default btn-info" data-dir="dwn" ng-click="(cocina.cantidadAPagar == null) ? cocina.cantidadAPagar = 0 : (cocina.cantidadAPagar > 0 ? cocina.cantidadAPagar = cocina.cantidadAPagar - 1 : cocina.cantidadAPagar = 0);"
                                        ng-mousedown='mouseDown(cocina, "down")' ng-mouseup="mouseUp()">
                                        -
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>
                                <input type="text" class="form-control text-center" ng-model="cocina.cantidadAPagar" min="-10" max="40">
                                <span class="input-group-btn data-up">
                                    <button class="btn btn-default btn-info" data-dir="up" ng-click="incrementar(cocina)" ng-mousedown='mouseDown(cocina, "up")'
                                        ng-mouseup="mouseUp()">
                                        +
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                                <label>&nbsp&nbsp&nbsp</label>
                                <span class="input-group-btn data-up">
                                    <button class="btn btn-default btn-warning" data-dir="up" ng-click="incrementar10(cocina)">
                                        +10
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </td>
                        <td>
                            <button ng-if="$parent.accesos.includes(18)" class="btn btn-danger" ng-click="eliminarItem(cocina)">Eliminar</button>
                        </td>
                        <td>
                            <button ng-if="$parent.accesos.includes(17)" class="btn btn-warning" ng-click="pagarItem(cocina)">Pagar</button>
                        </td>
                    </tr>
                    <!-- Bar -->
                    <tr class="table-secondary" style="color: rgb(67, 67, 77)" ng-repeat="cocina in cocinaListBar">
                        <!-- <td>{{cocina.cantidad}}</td> -->
                        <td>{{cocina.cantidad}}</td>
                        <td>
                            <b>{{cocina.cantidadPagada}}</b>
                        </td>
                        <td>
                            <b>{{cocina.cantidadEliminada}}</b>
                        </td>
                        <td>
                            <b>{{cocina.cantidad - cocina.cantidadPagada - cocina.cantidadEliminada}}</b>
                        </td>
                        <td style="font-weight: bolder">{{cocina.nombre}}</td>
                        <td style="font-weight: bolder">{{cocina.categoria}}</td>
                        <td>{{cocina.precio}}</td>
                        <td>
                            {{cocina.subtotal | currency: 'Q. '}}
                        </td>
                        <td>
                            <div class="input-group number-spinner">
                                <span class="input-group-btn data-up">
                                    <button class="btn btn-default btn-danger" data-dir="up" ng-click="decrementar10(cocina)">
                                        -10
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                                <label>&nbsp&nbsp&nbsp</label>
                                <span class="input-group-btn data-dwn">
                                    <button class="btn btn-default btn-info" data-dir="dwn" ng-click="(cocina.cantidadAPagar == null) ? cocina.cantidadAPagar = 0 : (cocina.cantidadAPagar > 0 ? cocina.cantidadAPagar = cocina.cantidadAPagar - 1 : cocina.cantidadAPagar = 0);"
                                        ng-mousedown='mouseDown(cocina, "down")' ng-mouseup="mouseUp()">
                                        -
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>
                                <input type="text" class="form-control text-center" ng-model="cocina.cantidadAPagar" min="-10" max="40">
                                <span class="input-group-btn data-up">
                                    <button class="btn btn-default btn-info" data-dir="up" ng-click="incrementar(cocina)" ng-mousedown='mouseDown(cocina, "up")'
                                        ng-mouseup="mouseUp()">
                                        +
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                                <label>&nbsp&nbsp&nbsp</label>
                                <span class="input-group-btn data-up">
                                    <button class="btn btn-default btn-warning" data-dir="up" ng-click="incrementar10(cocina)">
                                        +10
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </td>
                        <td>
                            <button ng-if="$parent.accesos.includes(18)" class="btn btn-danger" ng-click="eliminarItem(cocina)">Eliminar</button>
                        </td>
                        <td>
                            <button ng-if="$parent.accesos.includes(17)" class="btn btn-warning" ng-click="pagarItem(cocina)">Pagar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <td style="font-weight: bolder; text-align: right">Total a pagar:</td>
                        <td style="text-align: left;">
                            <span class="badge badge-success" style="font-size: 100%; color:black">{{getTotal() | currency: 'Q. '}}</span>
                        </td>
                        <td style="font-weight: bolder; text-align: right">Pendiente:</td>
                        <td style="text-align: left;">
                            <span class="badge badge-warning" style="font-size: 100%; color:rgb(0, 0, 0)">{{getTotalPendiente() | currency: 'Q. '}}</span>
                        </td>
                        <td style="font-weight: bolder; text-align: right">Pagado:</td>
                        <td style="text-align: left;">
                            <span class="badge badge-success" style="font-size: 100%; color:black">{{getTotalPagado() | currency: 'Q. '}}</span>
                        </td>
                    </tr>
                </thead>
            </table>
            <div class="row">
                <div class="col-sm-4">
                    <button ng-if="$parent.accesos.includes(18)" class="btn btn-danger" ng-click="cerrar()" style="width: 100%">Eliminar monto pendiente
                        <br> (El cliente se retira)</button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary" ng-click="agregar()" style="width: 100%">Menú
                        <br>
                        <br>
                    </button>
                </div>
                <div class="col-sm-4">
                    <button ng-if="$parent.accesos.includes(17)" class="btn btn-warning" ng-click="pagarOrden()" style="width: 100%">Pagar monto pendiente
                        <br> (El cliente se retira)</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">
                    <br>
                    <button class="btn btn-info" ng-click="ticket()" style="width: 100%">Ticket</button>
                </div>
                <div class="col-sm-4">

                </div>
            </div>

        </form>

        <div ng-include="'footer.html'"></div>
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
    <script src="controllers/CuentaController.js"></script>
    <script src="controllers/Accesos.js"></script>



</body>

</html>