<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- <meta name="mobile-web-app-capable" content="yes"> -->
    <link rel="stylesheet" href="/css/bootstrap-Sandstone.css">
    <!-- <link rel="stylesheet" href="/css/bootstrap3.3.6.css"> -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/angular.min.js"></script>

    <title>
        Agregar Bebidas a la Orden
    </title>
</head>

<body ng-app="myApp">
    <div style="background-image: url('/Imagenes/wood5.jpeg') ">
        <div ng-include="'header.html'" ng-controller='AppAccesos' ></div>
        <form class="container" ng-controller="AppCtrl as up" name="up.upload_form">
            <div class="row">
                <div class="col-sm-3">
                    <button class="btn btn-primary" ng-click="menu()" style="width: 100%">Menú</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-success" ng-click="orden()" style="width: 100%">Orden</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn" ng-click="cuentaOrden()" style="width: 100%; background-color: rgb(246, 255, 75); color: black">$ Cuenta</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-warning" ng-click="platos()" style="width: 100%">Platos</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <h1>Agregar Bebidas a la Orden</h1>
                    <!-- <input ng-model="test"> {{test}} -->
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-1">
                    <label style="color:white">Buscar:</label>
                </div>
                <div class="col-md-2">
                    <input class="form-control" type="text" ng-model="searchBox">
                </div>
            </div>
            <!-- <input ng-model="test"> {{test}} -->

            <div class="alert alert-success alert-dismissible" ng-show="alerta.visible">
                <!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> -->
                <strong>{{alerta.mensaje}}</strong> agregado(a).
            </div>

            <div class="row">
                <div class="col-sm-9">
                </div>
                <div class="col-sm-3">
                    <span class="badge badge-pill badge-info" style="font-size: 25px">Mesa: {{NumeroMesa}}</span>
                    <!-- <label style="font-size: 25px">Mesa: {{NumeroMesa}} </label> -->
                </div>
            </div>

            <table class="table table-hover table-dark ">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                        <!-- <th scope="col">Imagen</th> -->
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-primary" style="color: rgb(67, 67, 77)" ng-repeat="bar in barList | filter: searchBox">
                        <td style="font-weight: bolder">{{bar.nombre}}</td>
                        <td>{{bar.categoria}}</td>
                        <td>
                            <div class="input-group number-spinner">
                                <span class="input-group-btn data-up">
                                    <button class="btn btn-default btn-danger" data-dir="up" ng-click="decrementar10(bar)">
                                        -10
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                                <label>&nbsp&nbsp&nbsp</label>
                                <span class="input-group-btn data-dwn">
                                    <button class="btn btn-default btn-info" data-dir="dwn" ng-click="(bar.cantidad == null) ? bar.cantidad = 1 : (bar.cantidad > 1 ? bar.cantidad = bar.cantidad - 1 : bar.cantidad = 1);"
                                        ng-mousedown='mouseDown(bar, "down")' ng-mouseup="mouseUp()">
                                        -
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>
                                <input type="text" class="form-control text-center" ng-model="bar.cantidad" min="-10" max="40">
                                <span class="input-group-btn data-up">
                                    <button class="btn btn-default btn-info" data-dir="up" ng-click="incrementar(bar)" ng-mousedown='mouseDown(bar, "up")' ng-mouseup="mouseUp()">
                                        +
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                                <label>&nbsp&nbsp&nbsp</label>
                                <span class="input-group-btn data-up">
                                    <button class="btn btn-default btn-warning" data-dir="up" ng-click="incrementar10(bar)">
                                        +10
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </td>
                        <td>{{bar.precio}}</td>
                        <!-- <td>
                            <img class="logo" src="http://localhost:4201/{{bar.imagen}}" style="width:100px;" alt="Imagen">
                        </td> -->
                        <td>
                            <button class="btn btn-success" ng-click="addItem(bar.id, bar.cantidad)"> Agregar </button>
                        </td>
                        <td>
                            <a href="http://localhost:4201/SeleccionIngreBar?plato={{bar.id}}" class="btn btn-warning">Ingre</a>
                        </td>
                    </tr>

                </tbody>
            </table>

        </form>
        <div ng-include="'footer.html'"></div>
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
    <script src="controllers/SeleccionBarController.js"></script>
    <script src="controllers/Accesos.js"></script>
    <script type="text/javascript" src="../node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="../node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>

</body>

</html>